In [2]:
import altair as alt
import sys
from model import data_wrangle;

def return_fatality_bar_chart(value): 
    plot2 = alt.Chart(data_wrangle.chart_2_data, 
    title = f"{value} Number of fatalities for airlines that had an incident between 1985 and 2014").mark_bar().encode(
        alt.Y("airline:N", title="Airline (* includes regional subsidiaries)", sort=alt.EncodingSortField(field = "total_fatalities_per_b_avail_seat_km", order="ascending")),
        alt.X("total_fatalities_per_b_avail_seat_km:Q", axis = alt.Axis(title = "Rate of fatalities per billion available seat kilometers")),
        alt.Color("first_world:N", title = None, scale=alt.Scale(scheme="category20"))
    ).configure_title(fontSize=18
    ).configure_legend(labelFontSize=13
    ).configure_axis(labelFontSize=11, titleFontSize=14
    ).properties(width = 800, height = 600)
    return plot2

/home/jliu/MDS_labs/DSCI_532/application/DSCI_532_GROUP_111_FLIGHT_EXPLORER/Application/model/data_wrangle.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["fatalities_85_99"] = data2["fatalities_85_99"]/data2["avail_seat_km_per_week_billions"]
/home/jliu/MDS_labs/DSCI_532/application/DSCI_532_GROUP_111_FLIGHT_EXPLORER/Application/model/data_wrangle.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["fatalities_00_14"] = data2["fatalities_00_14"]/data2["avail_seat_km_per_week_billions"]
/home/jliu/MDS_labs/DSCI_532/application/DSCI_532_GROUP_111_FLIGHT_EXPLORER/Application/model/data_wrangle.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["total_fatalities_per_b_avail_seat_km"] = data2["fatalities_85_99"] + data2["fatalities_00_14"]
/home/jliu/MDS_labs/DSCI_532/application/DSCI_532_GROUP_111_FLIGHT_EXPLORER/Application/model/data_wrangle.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["first_world"][3,4,6, 7,8, 9, 10, 11, 12, 14, 16, 20, 22, 23, 24, 28, 30, 32, 34, 36, 40, 41, 42] = "First World"
/home/jliu/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/jliu/MDS_labs/DSCI_532/application/DSCI_532_GROUP_111_FLIGHT_EXPLORER/Application/model/data_wrangle.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3["lethality_85_99"] = data3["fatal_accidents_85_99"]/data3["incidents_85_99"]
/home/jliu/MDS_labs/DSCI_532/application/DSCI_532_GROUP_111_FLIGHT_EXPLORER/Application/model/data_wrangle.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3["lethality_00_14"] = data3["fatal_accidents_00_14"]/data3["incidents_00_14"]

In [6]:
import pandas as pd
pd.melt(data_wrangle.chart_2_data,
     id_vars="airline",
     value_vars = ["fatalities_85_99", 
                "fatalities_00_14"],
     var_name="fatalities_period",
     value_name="fatalities_value")

                       airline fatalities_period  fatalities_value
0                    Aeroflot*  fatalities_85_99        106.873974
1        Aerolineas Argentinas  fatalities_85_99          0.000000
2                  Aeromexico*  fatalities_85_99        107.225703
3                   Air Canada  fatalities_85_99          0.000000
4                   Air France  fatalities_85_99         26.298246
..                         ...               ...               ...
85            Turkish Airlines  fatalities_00_14         43.163287
86       United / Continental*  fatalities_00_14         15.267622
87  US Airways / America West*  fatalities_00_14          9.366011
88            Vietnam Airlines  fatalities_00_14          0.000000
89             Xiamen Airlines  fatalities_00_14          0.000000

[90 rows x 3 columns]